{% extends 'base.html.twig' %}

{% block body %}
    <h1>Soustaches list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sousTache in sousTaches %}
            <tr>
                <td><a href="{{ path('soustache_show', { 'id': sousTache.id }) }}">{{ sousTache.id }}</a></td>
                <td>{{ sousTache.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('soustache_show', { 'id': sousTache.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('soustache_edit', { 'id': sousTache.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('soustache_new') }}">Create a new sousTache</a>
        </li>
    </ul>
{% endblock %}
