{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tache</h1>


        {% for soustache in tache.soustache %}

        <ul class="list-group">
            <li class="list-group-item">
                {{ soustache.name }}
                <a href="{{ path('soustache_show', { 'id': soustache.id }) }}" class="pull-right"> | show | </a>
                <a href="{{ path('soustache_edit', { 'id': soustache.id }) }}" class="pull-right"> | edit | </a>
            </li>
        </ul>

        {% endfor %}

    <ul>
        <li>
            <a href="{{ path('tache_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tache_edit', { 'id': tache.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
