{% extends 'base.html.twig' %}






{% block body %}


<!-- ========================================== -->
<!-- ================== MODAL ================= -->
<!-- ========================================== -->
<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body" id="content-modal">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->









        {% for category in project.category %}

        <ul class="list-group">
            <li class="list-group-item">
                {{ category.name }}
                <a href="{{ path('category_edit', { 'id': category.id }) }}" class="pull-right"> | edit | </a>
                   {% for tache in category.tache %}

                    <ul class="list-group">
                        <li class="list-group-item ajax" data-url="{{ path('tache_show', { 'id': tache.id }) }}">
                            {{ tache.name }}

                              {% set total = tache.soustache|length %}
                              {% set done = 0 %}

                                {% for soustache in tache.soustache %}
                                    {% if(soustache.done == "1") %}
                                      {% set done = done + 1 %}

                                    {% endif %}
                                 {% endfor %}
                            <a href="{{ path('tache_show', { 'id': tache.id }) }}" class="pull-right"> | show | </a>
                            <a href="{{ path('tache_edit', { 'id': tache.id }) }}" class="pull-right"> | edit | </a>
                                 <div class="pull-right">

                                  {% if(done != 0) %}
                                     {{ (done/total )*100 }}%
                                    {% else %}
                                    0%
                                    {% endif %}
                                 </div>

                        </li>
                    </ul>
                    {% endfor %}
            </li>
        </ul>

        {% endfor %}

<ul>
    <li>
        <a href="{{ path('category_new') }}">Create a new category</a>
    </li>

    <li>
        <a href="{{ path('tache_new') }}">Create a new tache</a>
    </li>
</ul>

{% endblock %}
